/* Importar una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h3 {
    margin-top: 30px;
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: auto;
}

ul li img {
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

ul li img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    header, footer {
        text-align: center;
        padding: 15px 0;
    }
    
    main {
        padding: 15px;
    }
    
    ul li img {
        width: 90%;
    }
}
